{% extends 'base.html' %}

{% block content %}
<h2 class="card-title">Upload CSV to check South African numbers</h2>
<p class="card-text">
    Did you ever dream of being able to verify a csv composed of potential South African numbers?<br/>
    If you've never had that dream, well ¯\_(ツ)_/¯ I'm pretty sure that day will come and you will thank me for this.<br />

    P.S. You can also verify a single number, go and follow the navigation bar... my fellow friend.<br />
</p>
<div style="padding-top:56.250%;position:relative;">
    <iframe src="https://gifer.com/embed/DNEw" width="100%" height="100%" style='position:absolute;top:0;left:0;'
            frameBorder="0" allowFullScreen></iframe>
</div><p><a href="https://gifer.com"></a></p>
<p class="card-text">
    Your friend<br>
</p>
{% endblock %}
