{% extends 'base.html' %}
{% block content %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
  {% if urls %}
    <p>Uploaded file: <a href="{{ urls }}">{{ urls }}</a></p>

  {% endif %}
<table class="table mb-0">
<tr>
    <th>Status   </th>
    <th>Original number   </th>
    <th>Corrected number</th>
</tr>
    {% for line in data %}
<tr>
    {% if line.1 == True %}
    <td>{{ 'Correct!' }}</td>
     {% elif line.1 == False and line.2 %}
    <td>{{ 'Warning!' }}</td>
    {% else %}
    <td>{{ 'Incorrect! 🛑   ' }}</td>
    {% endif %}
    <td>{{ line.0 }}</td>
    <td>{{line.2}}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}


