{% extends 'base.html' %}
{% block content %}
<h2>Verify South African numbers</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="number" name="phone_number">
    <button type="submit">Verify Number</button>
  </form>
<table class="table mb-0">
<tr>
    <th>Status</th>
    <th>Original number</th>
    <th>Corrected number</th>
</tr>
<tr>
    {% if data.is_correct == True %}
    <td>{{ 'Correct!' }}</td>
     {% elif data.is_correct == False and data.correct_number %}
    <td>{{ 'Warning!' }}</td>
    {% elif data.is_correct == False and not data.correct_number %}
    <td>{{ 'Incorrect! 🛑   ' }}</td>
    {% endif %}
    <td>{{ data.orig_number }}</td>
    <td>{{ data.correct_number }}</td>

    </tr>
</table>
{% endblock %}